doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Aidirao
        //link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="/public/css/start.css")
        script(src="https://cdn.jsdelivr.net/npm/nsfwjs")
    body
        header
            h1#meeting AI-dira🌐 
            h2#roomTitle RoomName loading...
        main
            div#welcome
                form#nicknameForm
                    input#nicknameinput(placeholder="nickname을 입력하세요.", required, type="text")
                    button#savenickname(type="submit") Save Nickname

            div#call_meeting(hidden)
                div#myStream
                    div.nickname-container
                        span#nickname nickname  
                    video#myFace(autoplay, playsinline, width="400", height="400")

                div#peerStream
                    div.peer-nickname-container
                        span#peerNickname peer
                    video#peerFace(autoplay, playsinline, width="400", height="400")

                
                footer#bottomBar
                    button#mute Mute
                    button#camera Turn Camera Off
                    button#background Turn Background Off                
                    button#meetingcode(data-popup="meeting-code") Meeting Code
                    button#leaveMeeting(data-popup="leave-meeting") Leave Meeting
                    select#cameras    
                

                .popup(data-popup="leave-meeting")
                    .window
                        .close x
                        p Are you sure you want to leave the meeting?
                        form#yesnoForm
                            button#yesBtn(type="button") Yes
                            button#noBtn(type="button", onclick="closePopup()") No
                

                .popup(data-popup="meeting-code")
                    .window
                        .close x
                        p#meetingCodeDisplay 회의 참여 코드:

    script(src="/socket.io/socket.io.js")
    script(type="module" src="/public/js/socket.js")
    script(type="module" src="/public/js/app.js")
