doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Aidirao
        link(rel="stylesheet", href="/public/css/start.css")
        script(src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.7.4")
    body(class="meeting-page")            
        main
            div#welcome
                form#nicknameForm
                    input#nicknameinput(placeholder="nickname을 입력하세요.", required, type="text")
                    button#savenickname(type="submit") Save Nickname

            div#call_meeting(hidden)
                div#myStream
                    .video-wrapper
                        video#myFace(autoplay, playsinline)
                        canvas#videoCanvas
                    div.nickname-container
                        span#nickname nickname
                    

                div#peerStream
                    div.peer-nickname-container
                        span#peerNickname peer
                    .video-wrapper
                        video#peerFace(autoplay, playsinline)
                        canvas#peerCanvas


                h2#roomTitle RoomName loading...
                footer#bottomBar
                    button#mute Mute
                    button#camera Turn Camera Off
                    button#background Turn Background Off                
                    button#meetingcode(data-popup="meeting-code") Meeting Code
                    button#leaveMeeting(data-popup="leave-meeting") Leave Meeting
                    select#cameras    
                

                .popup(data-popup="leave-meeting")
                    .window
                        .close x
                        p Are you sure you want to leave the meeting?
                        form#yesnoForm
                            button#yesBtn(type="button") Yes
                            button#noBtn(type="button", onclick="closePopup()") No
                

                .popup(data-popup="meeting-code")
                    .window
                        .close x
                        p#meetingCodeDisplay 회의 참여 코드:
    script(src="/public/js/face-api.min.js")
    script(src="https://unpkg.com/nsfwjs@2.2.0", defer)
    script(src="https://cdn.jsdelivr.net/npm/@mediapipe/selfie_segmentation/selfie_segmentation.js")
    script(src="/socket.io/socket.io.js")
    script(type="module" src="/public/js/socket.js")
    script(type="module" src="/public/js/app.js")
