doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title WaitingRoom
        //link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="/public/css/start.css")

    body
        header
            h1 Waiting Room
        main            
            div#call
                div#myStream
                    video#myFace(autoplay, playsinline, width="400", height="400")
                    button#mute Mute
                    button#camera Turn Camera Off
                    button#background Background Off
                    select#cameras
                
            button(id="enterMeeting") 회의 참가
        
        script(src="/public/js/face-api.min.js")
        script(src="https://unpkg.com/nsfwjs", defer)
        script(src="https://cdn.jsdelivr.net/npm/@mediapipe/selfie_segmentation/selfie_segmentation.js")
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/waiting.js")
    

