doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title WaitingRoom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 Ai-dirao
        main
            button(id="enterMeeting") 회의 참가
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/waiting.js")
        script(src="/public/js/app.js")