doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title WaitingRoom
        //link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="/public/css/start.css")
        script(src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.7.4")


    body
        main
            div#waitingContainer
                div#call_waiting
                    div#myStream_waiting
                        video#myFace(autoplay, playsinline, width="400", height="400")
                        button#mute Mute
                        button#camera Turn Camera Off
                        button#background Background Off
                        select#cameras
                div#askEnter 
                    h2#askEnter 입장하시겠습니까?   
                    button(id="enterMeeting") 지금 참여하기        
            
                
            
        
        script(src="/public/js/face-api.min.js")
        script(src="https://unpkg.com/nsfwjs@2.2.0", defer)
        script(src="https://cdn.jsdelivr.net/npm/@mediapipe/selfie_segmentation/selfie_segmentation.js")
        script(src="/socket.io/socket.io.js")
        script(type="module" src="/public/js/waiting.js")
        script(type="module" src="/public/js/background.js")
    